
<div class="w3-container">
    <form [formGroup]="formulario_add" (ngSubmit)="addUsuarios()">
        
        <label >Id: 
        <input class="w3-input w3-border" type="text" name="id"
            formControlName="id"
            placeholder="Ingrese Id"
            > </label>
            <br>
        <label >Usuario: 
        <input class="w3-input w3-border" type="text" name="user"
            formControlName="usuario"
            placeholder="Ingrese Usuario"
            ></label>
            <br>
        <label>Password:
        <input class="w3-input w3-border" type="text" name="pass"
            formControlName="password"
            placeholder="ingrese Password"
            ></label>
        <br>
        <button class="w3-btn w3-green w3-ripple" type="submit" >Agregar Usuario</button>
    
    </form>
    </div>