
<section>
    <h2>Menu Principal Movimientos</h2>
<a><button  routerLink="/addMoves"> Nuevo Movimiento</button></a>
<br>
<br>
<table id="content">
    <tbody>
    <tr>
        <th class="short">ID</th>
        <th class="short">Nombre</th>
        <th class="short">Tipo</th>
        <th class="short">Precision</th>
        <th class="short">Categoria</th>
        <th class="short">Poder</th>
        <th >Efecto</th>
        <th class="short">Modificar</th>
        <th class="short">Eliminar</th>
    </tr>               
@for (item of listaMoves; track $index) {
    <tr>
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.type}}</td>
      <td>{{item.accuracy}}</td>
      <td>{{item.category}}</td>
      <td>{{item.power}}</td>
      <td>{{item.effect}}</td>
      <td><a [routerLink]="['/updateMoves',item.id]" > Modificar </a></td>
      <td>  <button (click)="delete(item.id)">Eliminar </button> </td>
    </tr>
}
</tbody>
</table>
</section>
